spring:
  application:
    name: e-Commerce


  datasource:
    url: jdbc:postgresql://localhost:5432/learn_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
server:
  port: 8080
